@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
*{ 
    font-family: 'Vina Sans ', sans-serif;
}



body{ 
    background-color: rgb(34, 34, 34);
color: #ffff;
margin: 0 auto;
max-width:  1200px; ;
padding: 15px;
font-family: 'Vina Sans ', sans-serif;

}
 header { 
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;

 }

#title { 
    flex-direction: column; 
    line-height: 10px;
}

h1 { 
    font-weight: 200;
}

main { 

    display: flex;
    flex-direction: row;
    margin-top: 50px;


}

h2{ 
    font-size: 56px;
    line-height: 10px;
    font-family: 'poppinsregular';
}
a{ 
    color: #ffff;
    list-style-type: none;
    text-decoration: none;
    
}




a:hover{ 

    color: rgb(132, 14, 201);
    transition: 0.3s all;
}
li{ 
    display: inline-block;
    margin: 20px;
 
}

span { 
color: rgb(132, 14, 201);
}


p {
    line-height: 20px;
    max-width: 500px;
font-family:  'poppinslight';
}

img { 
  padding-left: 100px;
    width: 580px;
}

#Inscreva-se{ 
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
    
}

#Inscreva-se:hover{ 
    background-color: rgb(132, 14, 201);
    color: #ffff;
}

form{ 
    display: flex;
    flex-direction: column;
    width: 70%;
}

input { 
    margin-top: 20px;
    height: 20px;
    padding:15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}

#btn { 
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: #ffff;
    font-weight: bold;
}

#btn { cursor: pointer;}